body {
  color: hsl(0, 0%, 63%);
}

nav {
  padding: 1rem 2rem;
  z-index: 9;
}

nav .navbar-nav a {
  color: #fff;
}

nav .navbar-brand {
  margin: auto;
  margin-right: 1.5rem;
}

header {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
}

header .carou-image img {
  height: 75vh;
}

header .text {
  padding: 4.5rem 3rem;
}

header .text h1 {
  line-height: 2rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
  color: hsl(0, 0%, 27%);
}

header .text p {
  margin-bottom: 2.5rem;
}

header .text a {
  text-decoration: none;
  color: hsl(0, 0%, 27%);
  letter-spacing: 8px;
}

#mobile {
  display: none;
}

section {
  position: absolute;
  top: 77%;
}

section .text {
  padding: 2rem 2rem;
}

section .row .text h4 {
  font-size: 1rem;
  color: hsl(0, 0%, 27%);
}

section .row .text p {
  font-size: 12px;
}

section .row #image {
  width: 100%;
  background-size: cover;
}

@media (min-width: 768px) and (max-width: 993px) {
  nav .nav-link {
    text-align: center;
    background-color: rgba(0, 145, 255, 0.5);
  }

  nav .navbar-brand {
    margin: auto;
  }

  header .text {
    padding: 4.5rem 3rem;
  }

  header .text h1 {
    font-size: 3rem;
    padding: 0 3rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
    color: hsl(0, 0%, 27%);
  }

  header .text p {
    margin-bottom: 2.5rem;
  }

  header .text a {
    text-decoration: none;
    color: hsl(0, 0%, 27%);
    letter-spacing: 8px;
  }

  section {
    position: absolute;
    top: 150%;
  }

  section .text {
    padding: 2rem 3rem;
  }

  section .row .text h4 {
    font-size: 2rem;
    text-align: center;
    padding: 0 3rem;
    color: hsl(0, 0%, 27%);
  }

  section .row .text p {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  nav .nav-link {
    text-align: center;
    background-color: rgba(0, 145, 255, 0.5);
  }

  nav .navbar-brand {
    margin: auto;
  }

  header {
    position: absolute;
  }

  /* header .carousel-inner button #btnn {
    position: relative;
  } */

  button .btn-1,
  .btn-2 {
    position: absolute;
    top: 0;
    right: 0;
  }

  header .carou-image #desktop {
    display: none;
  }

  #mobile {
    display: block;
    width: 100%;
  }

  section {
    position: absolute;
    top: 150%;
  }

  section .row .text h4 {
    font-size: 1.2rem;
  }

  section .row .text p {
    font-size: 15px;
  }
}
