body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

body h1 {
  color: rgb(0, 0, 0);
}

.combined {
  position: relative;
}

nav {
  display: flex;
  margin-right: 2rem;
  position: absolute;
}

nav .logo-image img {
  margin-right: 2rem;
}

nav a {
  display: none;
}

header .desktop-image-slider-1 img {
  display: none;
}

header #mobile {
  display: inherit;
  width: 100%;
}

header .header-text a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.text-connect {
  padding: 3rem;
}

.header-text p {
  margin-bottom: 3rem;
  font-size: 1rem;
  color: rgb(135, 133, 133);
}

article .dark-image img {
  width: 100%;
}

article .about-furniture {
  padding: 3rem;
  font-size: 1rem;
  color: rgb(135, 133, 133);
}

article .light-image img {
  width: 100%;
}

/*  */

@media (min-width: 767px) {
  /* removed all spaces from the content */
  body {
    margin: 0;
  }

  /* gave the parent div and the nav bar a relative connection */
  .combined {
    position: relative;
  }

  /* flexed  the navbar */
  nav {
    display: flex;
    /* margin-right: 2rem; */
    position: absolute;
    padding: 2rem;
  }

  /* removed all text decoration from the link */
  nav a {
    display: inline;
    text-decoration: none;
    color: #fff;
    margin-left: 1rem;
  }

  /* header styling */
  header {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-gap: 2rem;
  }

  header .header-text {
    padding: 40px;
  }

  /* gave the sliding image a fitting */
  header .desktop-image-slider-1 img {
    display: inherit;
    width: 100%;
    height: 70vh;
  }

  /* removed the mobile image from appering */
  header #mobile {
    display: none;
  }

  /* gave the texts a font size */
  header .text {
    font-size: 1rem;
    font-size: 1rem;
    color: rgb(135, 133, 133);
  }

  /* gave it  background color and padding */
  /* button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 19px;
    cursor: pointer;
  } */

  /* */
  header .btn {
    /* background-color: rgb(0, 0, 0); */
    /* width: 28%; */
    /* margin-top: 9.4rem; */
    height: 10%;
  }

  /* .text-connect .btn {
    position: relative;
  }

  .btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  } */
  .text-connect {
    padding: 0;
  }

  article {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    /* margin-top: -8rem; */
  }

  article .about-furniture h1,
  p {
    padding: 0 1rem;
  }

  article .dark-image img {
    width: 100%;
  }

  article .about-furniture {
    padding: 0;
  }

  article .light-image img {
    width: 100%;
  }
}
