/* @media (max-width: 576px) { */
/* removed the margins and added some few styling for the body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-size: 10px;
  font-family: "League Spartan", sans-serif;
}

/* gave the parent div a relation */
.combined {
  position: relative;
}

/* added absolute and adding to the logo */
.logo {
  padding-top: 2rem;
  position: absolute;
  top: 0;
  /* right: 0; */
  bottom: 0;
  /* left: 0; */
}

/* flexed the nav  logo and the nav links */
nav {
  display: flex;
}

/* stopped the link from appering on mobile screen */
nav .links {
  display: none;
}

/* made the sliding header occupy all spaces */
header .slider-1-image img {
  width: 100%;
}

/* gave the section and article spaces */
section,
article {
  padding: 2rem 3rem;
}

/* gave the section text header 1 some styles */
section .texts h1 {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 500;
  color: #070000;
}

/* gave the section and article paragraph a gray color and font-size */
section,
article p {
  color: rgb(135, 133, 133);
  font-size: 0.8rem;
}

/* gave the text in the section a margin bottom */
section .texts {
  margin-bottom: 2rem;
}

/* have the shop now link a style*/
.link a {
  color: #070000;
  text-decoration: none;
  margin-right: 1.5rem;
  font-size: 1.3rem;
}

/* made the dark image occupy all width and also gave it some space at the top */
.dark-image img {
  width: 100%;
  margin-top: 2rem;
}

/* made the light image occupy all width */
.light-image img {
  width: 100%;
}
/* } */
